html, body {
	padding: 0;
	margin: 0;
}

#dice-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#dice {
	position: absolute;
	
	left: 50%;
	top: 50%;
	
	transform: translateX(-50%) translateY(-50%);
	
	background-size: 400% 100%;
}

@media (orientation: portrait) {
	#dice {
		width: 95vw;
		height: 95vw;
	}
}

@media (orientation: landscape) {
	#dice {
		width: 95vh;
		height: 95vh;
	}
}

.dice1 {
	background: url('../img/zombie-dice.png');
	background-position: 0 0;
}

.dice2 {
	background: url('../img/zombie-dice.png');
	background-position: -100% 0;
}

.dice3 {
	background: url('../img/zombie-dice.png');
	background-position: -200% 0;
}

.dice4 {
	background: url('../img/zombie-dice.png');
	background-position: -300% 0;
}